
@{
    ViewBag.Title = "Management";
    Layout = "~/Areas/Shared/_PcnLayoutShare.cshtml";
}

@section styles{
    <!-- plugin -->
    @Styles.Render("~/bundles/datatablesCss")
    <link href="~/Contents/template/HUD_Admin/assets/plugins/summernote/dist/summernote-lite.css" rel="stylesheet" />

    <!-- custom -->
    <link href="~/Contents/Custom/MSC/css/MSC_Application.css" rel="stylesheet" />
    <link href="~/Contents/Custom/MSC/css/_ApplicationCreate.css" rel="stylesheet" />
    <link href="~/Contents/Custom/MSC/css/_ApplicationDetail.css" rel="stylesheet" />
}

<!-- Breadcrumb -->
<section>
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">HOME</a></li>
        <li class="breadcrumb-item active">MSC APPLICATION</li>
    </ul>
</section>

<!-- Page header-->
<section>
</section>

<!-- Datatable -->
<section>
    <div class="card">
        <div class="card-body">
            <table id="datatable" class="table text-nowrap align-middle w-100">
                <thead>
                    <tr>
                        <th class="">ID</th>
                        <th></th>
                        <th>ID CODE</th>
                        <th>DATE</th>
                        <th>APPLICANT</th>
                        <th>SUBJECT</th>
                        <th>STATUS</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="card-arrow">
            <div class="card-arrow-top-left"></div>
            <div class="card-arrow-top-right"></div>
            <div class="card-arrow-bottom-left"></div>
            <div class="card-arrow-bottom-right"></div>
        </div>
    </div>

</section>

<!-- Modal -->
<section>
    <!-- MSC Create -->
    @Html.Partial("~/Areas/MSC/Views/Management/_ApplicationCreate.cshtml")
    <!-- MSC Update -->
    @Html.Partial("~/Areas/MSC/Views/Management/_ApplicationUpdate.cshtml")
    <!-- MSC Detail -->
    @Html.Partial("~/Areas/MSC/Views/Management/_ApplicationDetail.cshtml")
</section>


@section scripts{
    <!-- plugin -->
    @Scripts.Render("~/bundles/datatablesJs")
    <script src="~/Contents/template/HUD_Admin/assets/plugins/summernote/dist/summernote-lite.min.js"></script>
    <!-- custom -->
    <script src="~/Contents/Custom/MSC/js/Application_Promise.js"></script>
    <script src="~/Contents/Custom/User/User_Promise.js"></script>

    <script src="~/Contents/Custom/MSC/js/MSC_Application.js"></script>
    <script src="~/Contents/Custom/MSC/js/_ApplicationCreate.js"></script>
    <script src="~/Contents/Custom/MSC/js/_ApplicationDetail.js"></script>
    <script src="~/Contents/Custom/MSC/js/_ApplicationUpdate.js"></script>
    <script src="~/Contents/Custom/MSC/js/_ApplicationDelete.js"></script>
}