
@{
    ViewBag.Title = "CUSTOMER & DEPARTMENT";
    Layout = "~/Areas/Shared/_PcnLayoutShare.cshtml";

    var newGuid = Guid.NewGuid();
}

@section styles{
    <!-- plugin -->
    @Styles.Render("~/bundles/datatablesCss")
    <!-- custom -->
}

<!-- Breadcrumb -->
<section>
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Dashboard/Dashboard">HOME</a></li>
        <li class="breadcrumb-item active">CUSTOMER & DEPARTMENT</li>
        <li class="breadcrumb-item" id="CustomerLink"></li>
        <li class="breadcrumb-item" id="DepartmentLink"></li>
    </ul>
</section>

<div class="row">
    <!-- Customer Datatable -->
    @Html.Partial("~/Areas/Customer/Views/Management/CustomerModal/_CustomerDatatable.cshtml")
    @Html.Partial("~/Areas/Customer/Views/Management/CustomerModal/_CustomerCreateModal.cshtml")
    @Html.Partial("~/Areas/Customer/Views/Management/CustomerModal/_CustomerUpdateModal.cshtml")


    <!-- Department Datatable -->
    @Html.Partial("~/Areas/Department/Views/DepartmentModal/_DepartmentDatatable.cshtml")
    @Html.Partial("~/Areas/Department/Views/DepartmentModal/_DepartmentCreateModal.cshtml")
    @Html.Partial("~/Areas/Department/Views/DepartmentModal/_DepartmentUpdateModal.cshtml")

    <!-- User Datatable -->
    @Html.Partial("~/Areas/User/Views/Management/UserModal/_UserDatatable.cshtml")
    @Html.Partial("~/Areas/User/Views/Management/UserModal/_UserUpdateModal.cshtml")
</div>


@section scripts{
    <!-- plugin -->
    @Scripts.Render("~/bundles/datatablesJs")
    <!-- custom -->
    <script src="~/Contents/Custom/Customer/Customer_Promise.js?v=@newGuid"></script>
    <script src="~/Contents/Custom/Department/Department_Promise.js?v=@newGuid"></script>
    <script src="~/Contents/Custom/User/User_Promise.js?v=@newGuid"></script>


    <script src="~/Contents/Custom/Customer/CustomerManagement.js?v=@newGuid"></script>

    <script src="~/Contents/Custom/Customer/Customer/_CustomerManagement.js?v=@newGuid"></script>
    <script src="~/Contents/Custom/Department/CustomerDepartment/_DepartmentManagement.js?v=@newGuid"></script>
    <script src="~/Contents/Custom/User/CustomerUser/_UserManagement.js?v=@newGuid"></script>
    <script src="~/Contents/Custom/User/UserModal/_UserUpdate.js?v=@newGuid"></script>
    <script src="~/Contents/Custom/User/UserModal/_UserDelete.js?v=@newGuid"></script>

}